{% macro consultant_card(
    sitedata,
    name="Jane Doe", 
    image="assets/img/team/10.jpg",
    background="Systems Neuroscience",
    specialties=["Publishing", "Testing"], 
    languages=["python", "r", "matlab"]
) 
%}
<div class="card card-body d-flex flex-row align-items-center card-hover bg-light border-0">
    <img src="{{ image }}" class="d-block rounded-circle" width="162" alt="Darrell Steward">
    <div class="ps-4">
      <h5 class="fw-medium fs-lg mb-0">{{ name }}</h5>
      <p class="fs-sm mb-2">{{ background }}</p>
        {% for specialty in specialties %}
        {% set spec = sitedata.skills[specialty] %}
            <a href="#{{specialty}}">{{spec.name}}</a>, 
        {% endfor %}
        </p>
      <div class="d-flex">
        {% for language in languages %}
        {% set lang = sitedata.technologies[language] %}
        <a href="{{lang.homepage}}" class="btn btn-icon btn-outline-secondary btn-sm me-2" aria-label="{{language}}">
            <i class="{{lang.icon}}"></i>
        </a>
        {% endfor %}
      </div>
    </div>
</div>

{% endmacro %}