{% from TEMPLATE_DIR + '/macros/consulting_card.html' import consulting_card %}
{% from TEMPLATE_DIR + '/macros/steps.html' import steps %}

{% extends "_blocks/base.html" %}

{% block title %} {{ page.data.title }} {% endblock %}

{% block body %}



<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  {{ page.content | safe }}
</section>


<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <h3>Let's Work on it Together!</h3>
  {{ steps(steps=page.data.steps) }}
</section>

<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <h3>What Have We Helped With In the Past?</h3>
  {% for topic in page.data.topics %}
  {{ consulting_card(
    title=topic.title,
    summary=topic.summary,
    image=topic.image,
    date_added=topic.date_added,
    categories=topic.categories,
    consultants=topic.consultants
    ) 
  }}
  {% endfor %}
</section>
{% endblock %}



