{% from 'macros/steps.html' import steps %}

{% extends "base.html" %}

{% block title %} {{ page.title }} {% endblock %}

{% block body %}



<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <h3>Technology Consulting for the <a href="https://ibehave.nrw">iBehave Neuroscience Network</a></h3>
  <p>
    ee interdum orci tellus, quis mollis leo pellentesque non. 
    Aenean aliquam odio quis ipsum cursus blandit. Fusce ultrices eu dolor et vestibulum. 
    Donec efficitur luctus justo. Quisque maximus sollicitudin tellus a maximus. Curabitur rhoncus augue est, eget congue augue placerat vitae. Nam laoreet dignissim ligula, ac dictum eros maximus at.
  </p>
</section>


<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <h3>Let's Work on it Together!</h3>
  {{ steps(steps=[
    {'title': 'Meet Us Tomorrow', 
    'summary': "Book a short chat online, tell us what's on your mind, and crate a custom learning plan together with your iBOTS consultant."
  },
  {'title': 'Work With Us On A Sandbox Project', 
  'summary': "Work together with your consultant to going through a custom tutorial relevant to your needs.  Between meetings, your iBOTS consultant will do further research, make templates and reference materials, and learn together with you."
},
{'title': 'Apply Your New Skills to Your Project', 
'summary': """Together with your consultant, apply the technology directly on your machine, with your data, for your project.  Don't get stuck--as technical problems arise, you'll have someone there to help you keep things moving!"""
},
]) 
}}
</section>


<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
  <h3> Book a Session! </h3>
  <div class="row row-cols-2">
    {% for id, person in data.people.items()  %}
    {% if 'consulting' in person %}
    <div id="{{id}}" class="col">
      <div class="card card-body d-flex flex-row align-items-center card-hover bg-light border-0">
        <img src="{{ person.image | asset }}" class="d-block rounded-circle" width="162" alt="Darrell Steward">
        <div class="ps-4">
          <h5 class="fw-medium fs-lg mb-0">{{ person.name }}</h5>
          <p class="fs-sm mb-2">{{ person.field_of_study }}</p>
          {% for specialty in person.consulting.skills %}
          {% set spec = data.skills[specialty] %}
          <a href="#{{specialty}}">{{spec.name}}</a>, 
          {% endfor %}
        </p>
        <div class="d-flex">
          {% for language in person.consulting.languages %}
          {% set lang = data.technologies[language] %}
          <a href="{{lang.homepage}}" class="btn btn-icon btn-outline-secondary btn-sm me-2" aria-label="{{language}}">
            <i class="{{lang.icon}}"></i>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% endfor %}
  
</div>

</div>

</section>

<section class="container pb-2 pb-md-4 pb-lg-5 mb-3">
  <h3>What Have We Helped With In the Past?</h3>
  <div class="row row-cols-1 row-cols-md-2">
    {% for id, topic in data.skills.items() %}
    <div id="{{id}}">
      <div class="col py-4 my-2 my-sm-3">
        <a href="" class="card card-hover h-100 border-0 shadow-sm text-decoration-none pt-5 px-sm-3 px-md-0 px-lg-3 pb-sm-3 pb-md-0 pb-lg-3 me-xl-2 position-relative">
          <div class="card-body pt-3">
            
            <div class="d-inline-block bg-primary shadow-primary rounded-3 position-absolute top-0 translate-middle-y p-3">
              <img src="assets/img/services/icons/cms.svg" class="d-block m-1" width="40" alt="Icon">
            </div>
            <h2 class="h4 d-inline-flex align-items-center">
              {{ topic.name }}
              <i class="bx bx-right-arrow-circle text-primary fs-3 ms-2"></i>
            </h2>
            <p class="fs-sm text-body mb-0"> {{ topic.short_description }} </p>
          </div>
          
          <!-- Thumbnails container -->
          <div class="position-absolute top-0 end-0 translate-middle-x mt-2 me-2 d-flex">
            {% for person_id, consultant in data.people.items() %}
            {% if 'consulting' in consultant and id in consultant.consulting.skills %}
              <img src="{{ consultant.image | asset  }}" class="rounded-circle border border-white" width="40" height="40" alt="Person 1">             
            {% endif %}
            {% endfor %}
            
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>






{% endblock %}