
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title> iBOTS - {% block title %}{% endblock %}</title>
    <header>
    <nav>
        <a href="about_us.html">About Us</a>
        <a href="consulting.html">Consulting</a>
        <a href="/workshops">Workshops</a>
        <a href="contact_us.html">Contact Us</a>
        <a href="learning_resources.html">Learning Resources</a>
        <a href="networking.html">Networking</a>
        <a href="organizations.html">Organizations</a>
    </nav>
    <hr>
    </header>
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}


<section>
    <footer>
        <hr>
        This is the footer
    </footer>
</section>

</body>
</html>