<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>iBOTS - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <header>
        <a href="/index.html"><img src="/static/images/ibots.png" alt="iBOTS Logo" width="200"></a>
        {% include "blocks/navbar.html" %}
        <hr>
    </header>

    <main>
    {% block body %}
    {% endblock %}
    </main>

    <footer>
        <hr>
        <aside>
        <a href="/index.html"><img src="{{ '/static/images/ibots.png' | resize([75, 75]) }} " alt="iBOTS Logo"></a>
        </aside>
        <ul>
            <li>&copy 2024 iBOTS. All rights reserved.</li>
            <li><a href="/contact_us.html">Contact Info</a></li>
            <li><a href="{{ data.group.mailing_list_subscribe_url }}">Subscribe To Our Mailing List</a></li>
            <li><a href="/static/pages/privacy_policy.html">Privacy Policy</a></li>
        </ul>
    </footer>
</body>
</html>
