
<nav class="header bg-body-tertiary shadow-sm navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/index.html"><img src="/static/images/ibots.png" alt="iBOTS Logo" width="50px"></a>

      <!-- Show/Hide Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Menu Items -->
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              {% for header in site.navbar.menu %}
                  {% if not header.children %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ header.url }}">{{ header.title }}</a>
                    </li>
                  {% else %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ header.title }}
                        </a>
                        <ul class="dropdown-menu">
                            {% for item in header.children %}
                            <li><a class="dropdown-item" href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                  {% endif %}
              {% endfor %}        

        <!-- Call to Action -->
        <a href="{{ site.navbar.call_to_action.url }}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex" target="_blank" rel="noopener">
            {{ site.navbar.call_to_action.title }} 
        </a>
      </div>
    </div>
</nav>
<!-- Padding for fixed navbar -->
<div style="padding-top: 85px;">
</div>

