<nav>
    <ul>
    <li><a href="/index.html">Home</a></li>

    <li>
        <a href="/consulting.html">Consulting</a>
        <ul>
            <li><a href="/consulting.html#description">Description</a></li>
            <li><a href="/consulting.html#book-a-session">Book a Session</a></li>            
        </ul>
    </li>

    <li>
        <a href="/workshops">Workshops</a>
        <ul>
            <li><a href="/workshops#upcoming-workshops">Upcoming Workshops</a></li>
            <li><a href="/workshops#past-workshops">Past Workshops</a></li>
        </ul>
    </li>
    
    <li><a href="/learning_resources.html">Learning Resources</a></li>
    <li>
        <a href="/networking.html">Networking</a>
        <ul>
            <li><a href="/networking.html#clubs">Clubs</a></li>
            <li><a href="/networking.html#conferences">Conferences</a></li>
            <li><a href="/networking.html#seminars">iBehave Seminars</a></li>
        </ul>
    </li>

    <li>
        <a href="/organizations.html">Organizations</a>
        <ul>
            <li><a href="/organizations.html#partners">Partners</a></li>
            <li><a href="/organizations.html#sponsors">Sponsors</a></li>
        </ul>

    </li>

    <li><a href="/about_us.html">About Us</a></li>

    <li><a href="/contact_us.html">Contact Us</a></li>
    <ul>
        <li><a href="/contact_us.html#contact-details">Contact Details</a></li>
        <li><a href="/contact_us.html#mailing-list">Mailing List</a></li>
        <li><a href="/contact_us.html#ibots-team">Team Members</a></li>
    <ul>
        
    </ul>
</nav>
