
 
<nav class="ib-navbar">
    <div>

        <!-- Logo -->
        <a class="ib-navbar__brand" href="/index.html"><img src="/static/images/ibots.png" alt="iBOTS Logo"></a>

      <!-- Show/Hide Button ?? Is there a way to get this into the SASS file? -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Menu Items -->
          <ul class="ib-navbar__items">
              
              {% for header in site.navbar.menu %}
                  {% if not header.children %}
                    <li class="ib-navbar__single-item">
                        <a aria-current="page" href="{{ header.url }}">{{ header.title }}</a>
                    </li>
                  {% else %}
                    <li class="ib-navbar__multi-item">  
                        <a href="#" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {{ header.title }}
                        </a>  
                        <ul class="dropdown-menu">
                            {% for item in header.children %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li> 
                  {% endif %}
              {% endfor %}        

        <!-- Call to Action -->
        <a href="{{ site.navbar.call_to_action.url }}" class="ib-navbar__action-button" target="_blank" rel="noopener">
            {{ site.navbar.call_to_action.title }} 
        </a>
      </div>
    </div>
</nav>

<!-- Padding for fixed navbar -->
<div class="ib-navbar__bottom_padding"></div>

