{% from TEMPLATE_DIR + '/macros/course_card.html' import course_card %}

{% extends "blocks/base.html" %}

{% block title %} Category {% endblock %}

{% block body %}

{{ page.content | safe }}

<section id="upcoming-events">
    
    <h1>Upcoming Events</h1>  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for event_id, event in data.events[page.data.event_type].items() | list | sort_by([1, 'start_date']) %}
        {% if event.start_date >= today  %}
          {{ course_card(
            title = event.title, 
            registration_url = "/events/" + page.data.event_type.replace('_', '-') + "/" + event_id + '.html', 
            instructor = data.people[event.instructors[0].id].name,
            start_date = event.start_date, 
            duration = event.hours, 
            registration_open = True, 
            img_src="https://placehold.co/600x400",
            series_name = page.data.event_type.replace('_', ' ').title(),
            series_url="/events/" + page.data.event_type.replace('_', '-') + "/index.html"
            )
          }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  
  <section id="past-events">
    <h1>Past Events</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for event_id, event in data.events[page.data.event_type].items() | list | sort_by([1, 'start_date'], reverse=True)  %}
        {% if event.start_date < today %}
          {{ course_card(
            title = event.title, 
            registration_url = "/events/" + page.data.event_type.replace('_', '-') + "/" + event_id + '.html', 
            instructor = data.people[event.instructors[0].id].name,
            start_date = event.start_date, 
            duration = event.hours, 
            registration_open = False, 
            img_src="https://placehold.co/600x400",
            series_name = page.data.event_type.replace('_', ' ').title(),
            series_url="/events/" + page.data.event_type.replace('_', '-') + "/index.html"
            )
          }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  

{% endblock %}