{% extends "base.html" %}

{% block title %} Statistics {% endblock %}

{% block body %}

<h1>{{ page.title }}-Steps</h1>

<div class="steps steps-sm steps-horizontal-md steps-center">

  <!-- unique scholars -->
  <div class="step">
    <div class="step-number text-primary">
      <div class="step-number-inner">
        <i class="bx bxs-user fs-1"></i>
      </div>  
    </div>

    <div class="step-body">
      <h5 class="mb-2">{{ stats.consulting_statistics.num_unique_scholars }} unique scholars</h5>
    </div>
  </div>

  <!-- short chats -->
  <div class="step">
    <div class="step-number text-primary">
      <div class="step-number-inner">
        <i class="bx bxs-coffee fs-1"></i>
      </div>  
    </div>

    <div class="step-body">
      <h5 class="mb-2">{{ stats.consulting_statistics.num_short_sessions }} initial consults</h5>
    </div>
  </div>

  <!-- hands-on -->
  <div class="step">
    <div class="step-number text-primary">
      <div class="step-number-inner">
        <i class="bx bxs-terminal fs-1"></i>
      </div>
    </div>

    <div class="step-body">
      <h5 class="mb-2">{{ stats.consulting_statistics.num_hands_on_sessions }} hands-on coding sessions</h5>
    </div>
  </div>

  <!-- time -->
  <div class="step">
    <div class="step-number text-primary">
      <div class="step-number-inner">
        <i class="bx bxs-time fs-1"></i>
      </div>
    </div>

    <div class="step-body">
      <h5 class="mb-2">{{ stats.consulting_statistics.total_hrs }} hours of coding</h5>
    </div>
  </div>
</div>


<h1>{{ page.title }}-Table</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <tr>
        <th scope="row">Number of unique scholars</th>
        <td>{{ stats.consulting_statistics.num_unique_scholars }}</td>
      </tr>

      <tr>
        <th scope="row">Number of short chats</th>
        <td>{{ stats.consulting_statistics.num_short_sessions }}</td>
      </tr>

      <tr>
        <th scope="row">Number of hands-on sessions</th>
        <td>{{ stats.consulting_statistics.num_hands_on_sessions }}</td>
      </tr>

      <tr>
        <th scope="row">Total number of sessions</th>
        <td>{{ stats.consulting_statistics.total_sessions }}</td>
      </tr>

      <tr>
        <th scope="row">Total time spent coding (hrs)</th>
        <td>{{ stats.consulting_statistics.total_hrs }}</td>
      </tr>

    </tbody>
  </table>
</div>

{% endblock %}