<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>About Us</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            
            <h1> {{ page.title }} </h1>
            <section>
            {{ content | safe }}
            </section>

            <section>
                <h2> The iBOTS Team </h2>
                {% for person in page.current %}
                    <h3> {{ person.name }} </h3>
                {% endfor %}
            </section>
            
        </article>

        
        

    
    </main>
    <footer></footer>
</body>
</html>