{% extends "blocks/base.html" %}

{% block title %} {{ page.title }} {% endblock %}

{% block body %}

    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            
            <h1> {{ page.title }} </h1>
            <section>
            {{ content | safe }}
            </section>
            
            <h2> Our History </h2>
            <section>
                {% for milestone in page.milestones %}
                <h3> {{ milestone.name }} </h3>
                {{ milestone.date }}
                {{ milestone.summary }}
                {% endfor %}
            </section>

        </article>

        
        

    
    </main>
    <footer></footer>

{% endblock %}