 {% extends "base.html" %}
 
{% block body %}

    <div class="content">
        <h1> {{ data.title }} </h1>

        
        <div>
            <h2>Team Members</h2>
            <div class="columns">
                {% for name in data.names %}
                <div class="card" style="height: 100%">
                    <div class="card-image">
                      <figure class="image is-10x10">
                        <img
                          src="{{ name.image | resize((200, 200)) }}"
                          alt="{{ name.name }}"
                          class="is-rounded"
                        />
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image ">
                            <img
                              src="{{ name.image | resize((48, 48)) }}"
                              alt="{{ name.name }}"
                              
                            />
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="title is-4">{{ name.name }}</p>
                          <p class="subtitle is-6">{{ name.email }}</p>
                        </div>
                      </div>
                  
                      <div class="content">
                        <!-- {{ name.description}}
                        {% for link in name.links %}
                            <a href="{{ link.url }}">{{ link.text }}</a>
                        {% endfor %} -->
                      </div>
                    </div>
                  </div>
                {% endfor %}
            </div>
        </div>

        <div>
            <h2> Our History </h2>
            {{ data.content | safe}}

        </div>

        <button class="button">Button</button>
    </div>

    {% endblock %}