<!-- 
    <h1>
    <ul>
        <li> Apples</li>
        <li> Orange</li>
    </ul>
    

 -->

<html> 

    <head>
        <title> {{ data.title }} </title>
    </head>

    <body>

        <h1> {{ data.title }} </h1>

        
        <div>
            <h2>Team Members</h2>
            {% for name in data.names %}
            <div> <img src={{ name.image }} alt="{{ name.name }}" width="200", height="200">  {{ name.name }}</div>
            {% endfor %}
        </div>

        <div>
            <h2> Our History </h2>
            {{ data.content | safe}}

        </div>

        
    </body>

</html>
