<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Learning Resources</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            
            <h1> {{ page.title }} </h1>
            <section>
            {{ content | safe }}
            </section>
            
            <section>
                <h2>Our Materials </h2>
                {% for our_material in page.our_materials %}
                <h4> {{ our_material.name }} </h4>
                <p><a href="{{ our_material.notebook_filepath }}">{{ our_material.notebook_filepath }}</a></p>
                <ul>
                {% for technology in our_material.technologies %}
                    <li>{{ technology }}</li>
                {% endfor %}    
                </ul>  
                {% endfor %}
            </section>

            <section>
                <h2> External Resources </h2>
                <ul>
                    {% for resource in page.external_resources %}
                        <li> <a href="{{ resource }}">{{ resource }}</a> </li>
                    {% endfor %}
                </ul>                
            </section>

        </article>

        
        

    
    </main>
    <footer></footer>
</body>
</html>