<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Networking</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            <h1> {{ page.title }} </h1>
            <section>
                {{ content | safe }}
            </section>

            <section>
                <h2>Clubs</h2>
                {% for club in page.clubs %}
                    <h3> {{ club.name }} </h3>
                    <p> {{ club.summary }} </p>
                    <p>When: {{ club.date }} </p>
                    <p>What time: {{ club.start }} to {{ club.end }}</p>
                    <p>Where: 
                        <ul>
                            <li>In person: {{ club.location.inperson }}</li>
                            <li>Remote: <a href="{{ club.location.remote }}">{{ club.location.remote }}</a> </li>
                        </ul>
                    </p>
                    <p>Who is it for: {{ club.target_audience }}</p>
                {% endfor %}
            </section>
            
        </article>

        
        

    
    </main>
    <footer></footer>
</body>
</html>