{% extends "blocks/base.html" %}

{% block title %} Networking {% endblock %}

{% block body %}
<article>
    <h1> {{ page.title }} </h1>
    <section>
        {{ content | safe }}
    </section>

    <section id="clubs">
        <h2>Clubs</h2>
        {% for club in page.clubs %}
            <h3> {{ club.name }} </h3>
            <p> {{ club.summary }} </p>
            <p>When: {{ club.date }} </p>
            <p>What time: {{ club.start }} to {{ club.end }}</p>
            <p>Where: 
                <ul>
                    <li>In person: {{ club.location.inperson }}</li>
                    <li>Remote: <a href="{{ club.location.remote }}">{{ club.location.remote }}</a> </li>
                </ul>
            </p>
            <p>Who is it for: {{ club.target_audience }}</p>
            <p>If you are interested, <a href="{{ club.registration_url }}">Register Here!</a></p>
        {% endfor %}
    </section>

    <section id="conferences">
        <h2>Conferences</h2>
        {% for conference in page.conferences %}
            <h3> {{ conference.name }} </h3>
            <p> {{ conference.summary }} </p>
            <p>When: {{ conference.date }} </p>
            <p>What time: {{ conference.start }} to {{ conference.end }}</p>
            <p>Where: 
                <ul>
                    <li>In person: {{ conference.location.inperson }}</li>
                    <li>Remote: <a href="{{ conference.location.remote }}">{{ conference.location.remote }}</a> </li>
                </ul>
            </p>
            <p>Who is it for: {{ conference.target_audience }}</p>
            <p>If you are interested, <a href="{{ conference.registration_url }}">Register Here!</a></p>
        {% endfor %}
    </section>

    <section id="seminars">
        <h2>Seminars</h2>
        {% for seminar in page.seminars %}
            <h3> {{ seminar.name }} </h3>
            <p> {{ seminar.summary }} </p>
            <p>When: {{ seminar.date }} </p>
            <p>What time: {{ seminar.start }} to {{ seminar.end }}</p>
            <p>Where: 
                <ul>
                    <li>In person: {{ seminar.location.inperson }}</li>
                    <li>Remote: <a href="{{ seminar.location.remote }}">{{ seminar.location.remote }}</a> </li>
                </ul>
            </p>
            <p>Who is it for: {{ seminar.target_audience }}</p>
            <p>If you are interested, <a href="{{ seminar.registration_url }}">Register Here!</a></p>
        {% endfor %}
    </section>

</article>


{% endblock %}