<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Consulting</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            
            <h1> {{ page.title }} </h1>
            <section>
                {{ content | safe }}
            </section>

            <h1> {{ Partners }} </h1>
            <section>
                {% for partner in page.partners %}
                <p>{{ partner | safe }}</p>
                {% endfor %}

            </section>

            <h1> {{ Sponsors }} </h1>
            <section>

            </section>

        </article>

        
        

    
    </main>
    <footer></footer>
</body>
</html>