<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Organization</title>
</head>
<body>
    <header></header>
    <nav></nav>
    <aside></aside>
    <main>
        <article>
            
            <h1> {{ page.title }} </h1>
            <section>
                {{ content | safe }}
            </section>

            <h1> Partners </h1>
            <section>
                {% for partner in page.partners %}
                <h3>{{ partner.name }}</h3>
                <p>{{ partner.description }}</p>
                <a href="{{ partner.website }}">{{ partner.website }}</a>
                <p>{{ partner.email }}</p>
                {% endfor %}
            </section>

            <h1> Sponsors </h1>
            <section>
                {% for sponsor in page.sponsors %}
                <h3>{{ sponsor.name }}</h3>
                <img src="{{ sponsor.logo }}" alt="{{ sponsor.logo }}">
                <p>{{ sponsor.description }}</p>
                <a href="{{ sponsor.website }}">{{ sponsor.website }}</a>
                <p>{{ sponsor.email }}</p>
                {% endfor %}        
            </section>

        </article>
    
    </main>
    <footer></footer>
</body>
</html>