{% extends "blocks/base.html" %}

{% block title %}  Workshops {% endblock %}

{% block body %}

<article>
  <h1>{{ page.title }} </h1>
  <section>
    <h1>Subscribe for Announcements</h1>
    <p>To get announcements of upcoming workshops and be the first to register for them, [Join Our Mailing List]({{ page.mailing_list_link }})</p>
  </section>

  <section>
  {{ content | safe }}
  </section>
  
  <section>
    <h1>Upcoming Workshops</h1>  
    {% for wshop in page.upcoming_workshops %}
    <article>
      <h1>{{ wshop.title }} </h1>
      <ul>
            <li><strong>Start Date:</strong> {{ wshop.start_date }}</li>
            <li><strong>Instructor:</strong> {{ wshop.instructor }}</li>
            <li><strong>Duration:</strong> {{ wshop.duration }} </li>
            <li><a href="{{ wshop.registration_link }}"><strong>Register Now!</strong></a></li>
      </ul>
            <!-- {{ page.upcoming_workshops }} -->
    </article>
    {% endfor %}
  </section>
  
  <section>
    <h1>Past Workshops</h1>
    {% for wshop in page.past_workshops %}
    <article>
      <h1><a href="{{ wshop.id }}.html">{{ wshop.title }}</a> </h1>
        <ul>
            <li><strong>Start Date:</strong> {{ wshop.start_date }}</li>
            <li><strong>Instructor:</strong> {{ wshop.instructor }}</li>
            <li><strong>Duration:</strong> {{ wshop.duration }} </li>
            <li><a href="{{ wshop.registration_link }}"><strong>Register Now!</strong></a></li>
      </ul>
            <!-- {{ page.upcoming_workshops }} -->
    </article>
    {% endfor %}
  </section>
  
  
  <section>
    <h1>Statistics</h1>
    <ul>
    {% for stat in page.statistics %}
      <li><strong>{{ stat.name }}:</strong> {{ stat.value }} {{ stat.unit }} </li>
    {% endfor %}
    </ul>
  </section>

</article>
{% endblock %}