{% extends "blocks/base.html" %}

{% block title %} Workshop {{ page.title }} {% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>
    <section>
        {{ content | safe }}
    </section>

    <section>
        <h2>Instructors</h2>
        <ul>
            <li>Main instructor: {{ page.main_instructor }}</li>
            <li>Teaching assistants: 
                <ul>
                    {% for person in page.assistants %}
                        <li>{{ person }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    </section>

    <section>
        <h2>Course Materials</h2>
        {% if page.github_repo %}
        <p>Find course materials here: <a href="{{ page.github_repo }}">{{ page.title }}</a></p>

        {% else %}
        <p>Not yet available</p>
        {% endif %}
    </section>

{% endblock %}