{% extends "blocks/base.html" %}

{% block title %} Workshop {{ page.title }} {% endblock %}

{% block body %}
    <h1>{{ page.title }}</h1>

    <section>
        {{ content | safe }}
    </section>

    <section>
    <h1>Trainers</h1>
    <ul>
    {% for instructor in page.instructors %}
      {% if instructor.role == "instructor" %}
        <li>{{ instructor.name }}: Instructor</li>
      {% endif %}
    {% endfor %}
    {% for instructor in page.instructors %}
      {% if instructor.role == "assistant" %}
        <li>{{ instructor.name }}: Teaching </li>
      {% endif %}
    {% endfor %}
    </ul>

    </section>

    <section>
        <h1>Prerequisites</h1>
        <p>{{ page.prerequisites }}</p>
    </section>

    <section>
        <h1>Course Format</h1>
        <ul>
            <li><strong>Format:</strong> {{ page.format}}</li>
            <li><strong>Duration: </strong>{{ page.hours }} hours over {{ page.sessions | length }} sessions.</li>
        </ul>
    </section>

    <section>
        <h1>Session Dates</h1>
        <ul>
        {% for session in page.sessions %}
            <li>{{ session.date }}, {{ session.start_time }}-{{ session.end_time}} ({{ session.location }})</li>
        {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Course Preparation</h2>        
        <p>{{ page.preparation_instructions }}</p>
    </section>
    
    {% if page.github_repo %}
    <section>
        <h2>Course Materials</h2>        
        <p>Find course materials here: <a href="{{ page.github_repo }}">{{ page.title }}</a></p>
    </section>
    {% endif %}

{% endblock %}