{% from "macros/people.html" import people_grid %}
{% from "macros/services.html" import service_description %}

<main>
    
    {% extends "blocks/base.html" %}
    
    {% block title %} About Us {% endblock %}
    
    {% block body %}
    
    <article>

        <h1> {{ page.title }} </h1>
        <section id="rse-description">
            {{ content | safe }}
        </section>
        
        <section id="ibots-team" class="container mb-5 py-lg-3 py-xl-4 py-xxl-5">
            <h3 class="h1 text-center pb-md-1 mb-1 mb-sm-3"> 
                The iBOTS Team
            </h3>
            {{ people_grid(people=page.people.current )}}
        </section>


        <!-- Our Office -->
        <section class="container py-2 py-lg-4 py-xl-5 mb-2 mb-md-3">
            <div class="row py-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="d-flex flex-column h-100 shadow-sm rounded-3 overflow-hidden">
                        <iframe 
                            class="d-block h-100" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23422.804235240757!2d7.07611208865096!3d50.717251020926085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bee3c9247cc843%3A0xa7b6a6cb7bc989fd!2sSigmund-Freud-Stra%C3%9Fe%2025G%2C%2053127%20Bonn!5e0!3m2!1sen!2sde!4v1717694213000!5m2!1sen!2sde"
                            width="600" height="450" referrerpolicy="no-referrer-when-downgrade" 
                            style="border: 0; min-height: 300px;" allowfullscreen="" loading="lazy" title="Map">
                        </iframe>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <h2 class="h4 mb-4">
                        Our Office
                    </h2>
                    <ul class="list-unstyled pb-2 pb-lg-0 mb-4 mb-lg-5">
                            <i class="bx bx-map text-primary fs-xl me-2" style="margin-top: .125rem;"></i>
                            <p>Uniklinikum Bonn, Venusberg Campus</p>
                            <p>Sigmund-Freud-Strasse 25G</p>
                            <p>53127 Bonn</p>
                    </ul>
                    <div class="d-flex pt-1 pt-md-3 pt-xl-4">
                        <a href="#" class="btn btn-icon btn-secondary btn-facebook me-3" aria-label="Facebook">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-secondary btn-instagram me-3" aria-label="Instagram">
                            <i class="bx bxl-instagram"></i>
                        </a>
                        <a href="#" class="btn btn-icon btn-secondary btn-twitter me-3" aria-label="Twitter">
                            <i class="bx bxl-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        {% for section in page.sections %}  
        <section>
            {{ service_description(
                title=section.title,
                img=section.image,
                paragraphs=section.paragraphs,
                features=section.features,
                reverse_layout=loop.index % 2
            ) }}
        </section> 
        {% endfor %}
        

        
        <section class="container mb-5 py-lg-3 py-xl-4 py-xxl-5">
            <h3 class="h1 text-center pb-md-1 mb-1 mb-sm-3"> 
                Past Collaborators 
            </h3>
            {{ people_grid(people=page.people.past + page.people.other )}}
        </section>
        
        <section id="sponsors">
            <h1> Sponsors </h1>
            {% for sponsor in page.sponsors %}
            <h3>{{ sponsor.name }}</h3>
            <img src="{{ sponsor.logo }}" alt="{{ sponsor.logo }}">
            <p>{{ sponsor.description }}</p>
            <a href="{{ sponsor.website }}">{{ sponsor.website }}</a>
            <p>{{ sponsor.email }}</p>
            {% endfor %}        
        </section>
    </article>
    
</main>

{% endblock %}
