{% extends "blocks/base.html" %}

{% block title %} {{ page.data.title }} {% endblock %}

{% block body %}

<article>
    
    <h1> {{ page.data.title }} </h1>
    <section id="description">
    {{ content | safe }}
    </section>
    
    <section>
        <h1> {{ page.data.statistics.title }} </h1>
        <dl>
        {% for key, value in page.data.statistics.report.items() %}
        <dt>{{key}}</dt>
        <dd>{{ value }}</dd>
        </dl>
        {% endfor %}
    </section>
    
    <section id="book-a-session">
        <h1> {{ page.data.session_booking.title }} </h1>
        <p> {{ page.data.session_booking.description }} </p>
        {% for consultant in page.data.session_booking.consultants %}
        <article>
            <h1> {{ consultant.name }} </h1>
            <p> <a href="{{ consultant.booking_link }}">{{ consultant.booking_link }}</a> </p>

        </article>
        
        {% endfor %}
        
    </section>

    <section>
        <h1>{{ page.data.testimonials.title }} </h1>
        {% for testimonial in page.data.testimonials.testimonials %}
        <p>{{ testimonial }} </p>
        {% endfor %}
        
    </section>

</article>


        
{% endblock %}