{% from 'macros/course_card.html' import course_card %}
{% extends "blocks/base.html" %}

{% block title %}  Workshops {% endblock %}

{% block body %}

<article>
  <h1>{{ page.data.title }} </h1>
  <section>
    <h1>Subscribe for Announcements</h1>
    <p>To get announcements of upcoming workshops and be the first to register for them, please [Join Our Mailing List]({{ data.group.mailing_list_subscribe_url }}).  If you have any quesitons, please feel free to write to Nick at {{data.group.email}} </p>
  </section>
  
  <section>
    {{ content | safe }}
  </section>
  
  
  <section id="upcoming-workshops">
    
    <h1>Upcoming Workshops</h1>  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for wshop_id, wshop in data.events.workshops.items() %}
        {% if wshop.sessions[0].date >= today %}
          {{ course_card(
            title = wshop.title, 
            registration_url = "/events/" + wshop_id + '.html', 
            instructor = data.people[wshop.instructors[0].id].name,
            start_date = wshop.sessions[0].date, 
            duration = wshop.hours, 
            registration_open = True, 
            img_src="https://placehold.co/600x400") 
          }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  
  <section id="past-workshops">
    <h1>Past Workshops</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for wshop_id, wshop in data.events.workshops.items() %}
        {% if wshop.sessions[0].date < today %}
          {{ course_card(
            title = wshop.title, 
            registration_url = "/events/" + wshop_id + '.html', 
            instructor = data.people[wshop.instructors[0].id].name,
            start_date = wshop.sessions[0].date, 
            duration = wshop.hours, 
            registration_open = True, 
            img_src="https://placehold.co/600x400") 
          }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  
  
  <section>
    <h1>Statistics</h1>
    <ul>
      {% for stat in page.data.statistics %}
      <li><strong>{{ stat.name }}:</strong> {{ stat.value }} {{ stat.unit }} </li>
      {% endfor %}
    </ul>
  </section>
  
</article>
{% endblock %}