{% set event = data.events.workshops[page.id] %}
{% extends "blocks/base.html" %}

{% block title %} Workshop {{ event.title }} {% endblock %}

{% block body %}
<article>
    <h1>{{ event.title }}</h1>

    <section>
        {{ content | safe }}
    </section>

    <section>
    <h1>Trainers</h1>
    <ul>
    {% for instructor in event.instructors %}
      {% if instructor.role == "instructor" %}
        <li>{{ data.people[instructor.id].name }}: Instructor</li>
      {% endif %}
    {% endfor %}
    {% for instructor in event.instructors %}
      {% if instructor.role == "assistant" %}
        <li>{{ data.people[instructor.id].name }}: Teaching </li>
      {% endif %}
    {% endfor %}
    </ul>

    </section>

    <section>
        <h1>Prerequisites</h1>
        <p>{{ event.prerequisites }}</p>
    </section>

    <section>
        <h1>Course Format</h1>

        <dl>
            <dt>Format</dt>
            <dd>{{ event.format }}</dd>
            
            <dt>Duration</dt>
            <dd>{{ event.hours }} hours</dd>
            <dd>{{ event.sessions | length }} sessions</dd>
            
        </dl>
    </section>

    <section>
        <h1>Session Dates</h1>
        <ul>
        {% for session in event.sessions %}
            <li>
                <dl>
                    <dt>Date</dt>
                    <dd>{{ session.date }}</dd>

                    <dt>Start Time</dt>
                    <dd>{{ session.start_time }}</dd>

                    <dt>End Time</dt>
                    <dd>{{ session.end_time }}</dd>

                    <dt>Location</dt>
                    <dd>{{ session.location }} </dd>
                </dl>
            </li>
        {% endfor %}
        </ul>
    </section>

    <section>
        <h1>Course Preparation</h1>        
        <p>{{ event.preparation_instructions }}</p>
    </section>
    
    {% if event.github_repo %}
    <section>
        <h1>Course Materials</h1>        
        <p>Find course materials here: <a href="{{ event.github_repo }}">{{ event.title }}</a></p>
    </section>
    {% endif %}

    <section>
        <h1>Participation Certificates</h1>
        <p>{{ event.certificate_criteria }}</p>
    </section>
</article>
{% endblock %}