{% from 'macros/course_card.html' import course_card %}
{% extends "blocks/base.html" %}

{% block title %}  Events {% endblock %}

{% block body %}

<article>
  <h1>{{ page.data.title }} </h1>
  <section>
    <h1>Subscribe for Announcements</h1>
    <p>To get announcements of upcoming workshops and be the first to register for them, please [Join Our Mailing List]({{ data.group.mailing_list_subscribe_url }}).  If you have any quesitons, please feel free to write to Nick at {{data.group.email}} </p>
  </section>
  
  <section>
    {{ page.content | safe }}
  </section>
  
  
  <section id="upcoming-events">
    
    <h1>Upcoming Events</h1>  
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for event_type, event_id, event in data.events | flatten_nested %}
        {% if event.sessions[0].date >= today %}
          {{ course_card(
            title = event.title, 
            registration_url = "/events/" + event_type.replace('_', '-') + "/" + event_id + '.html', 
            instructor = data.people[event.instructors[0].id].name,
            start_date = event.sessions[0].date, 
            duration = event.hours, 
            registration_open = True, 
            img_src="https://placehold.co/600x400") 
          }}
        {% endif %}
      {% endfor %}
    </div>
  </section>
  
  <section id="past-events">
    <h1>Past Events</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 gx-3 gx-md-4 mt-n2 mt-sm-0">
      {% for event_type, series in data.events.items() %}
        {% for event_id, event in series.items() %}
          {% if event.sessions[0].date < today %}
            {{ course_card(
              title = event.title, 
              registration_url = "/events/" + event_id + '.html', 
              instructor = data.people[event.instructors[0].id].name,
              start_date = event.sessions[0].date, 
              duration = event.hours, 
              registration_open = True, 
              img_src="https://placehold.co/600x400") 
            }}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </section>
  
  
  <section>
    <h1>Statistics</h1>
    <ul>
      {% for stat in page.data.statistics %}
      <li><strong>{{ stat.name }}:</strong> {{ stat.value }} {{ stat.unit }} </li>
      {% endfor %}
    </ul>
  </section>
  
</article>
{% endblock %}