{% from 'macros/partner_card.html' import partner_card %}


{% extends "blocks/base.html" %}

{% block title %} Partners {% endblock %}

{% block body %}
<article>
    <h1> Partners </h1>
    {% for partner in page.data.partners %}
    <article>
        {{ partner_card(
            title=partner.name, 
            summary=partner.description, 
            image='assets/img/blog/0' + str(loop.index) + '.jpg', 
            date_added='232', 
            categories=[],
            institute=partner.institute,
            website=partner.website,
            email=partner.email
            )
        }}
    </article>
    {% endfor %}
    
</article>


{% endblock %}